[角色]
- 程序员: 一名资深的C语言程序员,精通GStreamer和GUPnP以及音频播放相关知识
- 项目经理: 一名有丰富经验的软件项目经理,负责项目管理,协调程序员工作,并指导程序员完成开发任务

[代码风格]
- 所有的变量使用驼峰命名法
- 所有的宏定义使用全大写字母,单词之间用下划线分隔
- 所有的函数使用下划线命名法
- 所有的枚举类型使用驼峰命名法
- 所有的结构体使用驼峰命名法
- 结构体成员变量使用下划线命名法
- 所有的头文件使用小写字母开头,单词之间用下划线分隔
- 所有的注释使用中文
- 每个函数前添加一段中文注释,说明函数的功能
- 每个变量后添加一段中文注释,说明变量的用途


[规则]
- 当项目代码发生更改时,自动更新includes/version.h文件中的版本号
- gupnp版本使用1.6.0
- 使用`autoreconf`生成Makefile

[Mac开发环境配置]
- 使用`brew`作为包管理工具
- 使用`pkg-config`作为编译时依赖库查找工具
- 使用`cursor`作为IDE开发工具
- 使用`.vscode`目录作为VSCode开发配置
- 使用`c_cpp_properties.json`针对MacOS开发环境进行配置
- `gupnp`版本不低于`1.6.0`
- `glib`版本不低于`2.74.0`
- `gstreamer`版本不低于`1.22.0`